{
  "plugins": ["prettier-plugin-go-template", "prettier-plugin-tailwindcss"],
  "overrides": [
        {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    },
    {
      "files": "*.jsonc",
      "options": {
        "parser": "jsonc",
        "trailingComma": "none"
      }
    }
  ]
}
